!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MovieApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = include_gon
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.css", rel: "stylesheet"}/
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.js"}
  %body
    = yield
